<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home - Wecodefy</title>
    <base href="{{'APP_URL' | env}}">
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{'APP_URL' | env}}assets/images/favicon.ico">
    <link rel="stylesheet" href="{{'APP_URL' | env}}assets/css/styles.css">
</head>

<body>
    <div class="wecodefy-widget">
        <img src="{{'APP_URL' | env}}assets/images/wecodefy.png" width="200" alt="">
    </div>
    <div class="wecodefy-options">
        <a target="_brank" href="/dev/ui" class="wecodefy-btn">DEV MANAGER</a>
        <a href="https://github.com/jahwin/wecodefy/wiki" class="wecodefy-btn">DOCUMENTATION</a>
    </div>

    <div class="app-widget">
        <div class="vue-app">
            <div id="app"></div>
        </div>
        <div class="angular-app">
            <app></app>
        </div>
        <div class="react-app">
            <div id="root"></div>
        </div>
    </div>

    <img class="bg-image" src="{{'APP_URL' | env}}assets/images/cloud.svg" alt="" width="100%">
</body>
<script type="text/javascript" src="{{'APP_URL' | env}}assets/js/main.js"></script>

</html>